 .producto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    
 }

 h3{
    margin-top: 30px;
    margin-bottom: 30px;
 }

 .txt-inp{
    width: 500px;
 }